<section class="design">
		<div class="design-col1">
			<h3>Subscribe To Our Channel</h3>
		</div>
		<div class="design-col2">
			<form class="form">
				<input type="text" name="email" placeholder="Enter Email">
				<button class="btn">Subscribe</button>
			</form>
		</div>
	</section>
	<section class="service">
		<div class="service-col1">
				<h2>Services</h2>
			<div class="contents1">
				<p>lorem ipsum sit djfd dsfj d  dsd dfd df d  dsfdsfds ds dsf dsf fsdf dsfj sdkfjdsfsdjf jsdkfd fjdk d kfdkj fkdj fdkf df d fjdk jfkdjfkdj fkdfj kdfj dk fkdj fdfflorem ipsum sit djfd dsfj d  dsd dfd df d  dsfdsfds ds dsf dsf fsdf dsfj sdkfjdsfsdjf jsdkfd fjdk d kfdkj fkdj fdkf df d fjdk jfkdjfkdj fkdfj kdfj dk fkdj fdff.
				</p>
			</div>
				<div class="contents1">
				<p>lorem ipsum sit djfd dsfj d  dsd dfd df d  dsfdsfds ds dsf dsf fsdf dsfj sdkfjdsfsdjf jsdkfd fjdk d kfdkj fkdj fdkf df d fjdk jfkdjfkdj fkdfj kdfj dk fkdj fdfflorem ipsum sit djfd dsfj d  dsd dfd df d  dsfdsfds ds dsf dsf fsdf dsfj sdkfjdsfsdjf jsdkfd fjdk d kfdkj fkdj fdkf df d fjdk jfkdjfkdj fkdfj kdfj dk fkdj fdff.
				</p>
			</div>
				<div class="contents1">
				<p>lorem ipsum sit djfd dsfj d  dsd dfd df d  dsfdsfds ds dsf dsf fsdf dsfj sdkfjdsfsdjf jsdkfd fjdk d kfdkj fkdj fdkf df d fjdk jfkdjfkdj fkdfj kdfj dk fkdj fdfflorem ipsum sit djfd dsfj d  dsd dfd df d  dsfdsfds ds dsf dsf fsdf dsfj sdkfjdsfsdjf jsdkfd fjdk d kfdkj fkdj fdkf df d fjdk jfkdjfkdj fkdfj kdfj dk fkdj fdff.
				</p>
			</div>
		</div>
		<div class="service-col2">
			<h2>Get A Quote</h2><br>
			<form class="contents2">
                <h3>Name</h3>
				<input type="text" placeholder="Enter Your Name">
				<h3>Email</h3>
				<input type="text" placeholder="Enter Your Email">
				<h3>Message</h3>
				<textarea class="text" width="30px" height="40px">Message</textarea><br>
				<button class="btn1">Send</button>
				
			</form>
			
		</div>
	</section>