<p>contact works!</p>
 <div class="main-container">
            <div class="left-form-container">
                <form>
                    <input type="text" placeholder="Enter Your Name">
                    <input type="email" placeholder="Enter Your Email">
                    <textarea rows = "4" cols = "40" name = "description">
                        
                    </textarea><br>
                    <button class="submit">Submit</button>
                </form>
            </div>
            <div class="right-img-container">
                <img src="bg3.jpg" alt="">
            </div> 
        </div>