    *{
        padding: 0;
        margin: 0;
    }
    .navbar{
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        top: 0px;
        left: 0px;
        position: sticky;
    }
    .right-nav li{
        list-style: none;
        text-decoration: none;
        margin: 0px 10px;
    }
    .right-nav{
        display: flex;
        align-items: center;
        margin-right: 160px;
    }
    .right-nav li a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-family:'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        transition: all 0.3s;
    }
    .right-nav li a:hover{
         color: rgb(99, 99, 99);
         font-size: 21px;
    }
    .left-nav{
        color: black;
        margin-left: 160px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
    }
    .left-nav h2{
        margin-top: -8px;
    }
    
    
    span{
        color:red;
        font-size: 35px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    