<section class="image">
	<h1>Affordable Professional Websites</h1>
	<p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel corporis excepturi dolorem? Ipsum
		perferendis nulla adipisci assumenda eaque rerum perspiciatis culpa magnam numquam non, similique dolor.
		Deleniti, tempora iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel corporis excepturi dolorem? Ipsum
		perferendis nulla adipisci assumenda eaque rerum perspiciatis culpa magnam numquam non, similique dolor.
		Deleniti, tempora iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel corporis excepturi dolorem? Ipsum
		perferendis nulla adipisci assumenda eaque rerum perspiciatis culpa magnam numquam non, similique dolor.
		Deleniti, tempora iure.</p>
</section>
<section class="design">
	<div class="design-col1">
		<h3>Subscribe To Our Channel</h3>
	</div>
	<div class="design-col2">
		<form class="form">
			<input type="text" name="email" placeholder="Enter Email">
			<button class="btn">Subscribe</button>
		</form>
	</div>
</section>
<section class="slide">
	<div class="slide1">
		<img src="assets/images/public.jpg">
		<h2>HTML5 MARKUP</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel corporis excepturi dolorem? Ipsum
			perferendis nulla adipisci assumenda eaque rerum perspiciatis culpa magnam numquam non, similique dolor.
			Deleniti, tempora iure.</p>
	</div>
	<div class="slide1">
		<img src="assets/images/baby.jpg">
		<h2>CSSS3 CASCADING</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel corporis excepturi dolorem? Ipsum
			perferendis nulla adipisci assumenda eaque rerum perspiciatis culpa magnam numquam non, similique dolor.
			Deleniti, tempora iure.</p>
	</div>
	<div class="slide1">
		<img src="assets/images/mas.jpg">
		<h2>GRAPHIC DESIGN</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel corporis excepturi dolorem? Ipsum
			perferendis nulla adipisci assumenda eaque rerum perspiciatis culpa magnam numquam non, similique dolor.
			Deleniti, tempora iure.</p>
	</div>
</section>